<aside id="sidebar">
    <h2>About me</h2>
    <p>
        Hello, my name is Artur and I'm a Python & Cloud Developer. Currently I'm working to
        expand my skillset by learning full-stack web development with JavaScript and associated
        tools and frameworks.
    </p>
    <h2>About this page</h2>
    <p>
        This web app is my solution for Capstone Project #4 from dr. Angela Yu's
        <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/" target="_blank">
            Complete Full-Stack Web Development Bootcamp
        </a>
    </p>
</aside>